<span>
    <span *ngIf = "displayMode !== DisplayModes.UTC; else utcTemplate" >
        <md-input-container>
            <input 
                disabled
                mdInput class="date" 
                [placeholder]="placeholder" 
                [value]="(value ? (value | epicLocalTime: format) : null)">
        </md-input-container>
    </span>
    <ng-template #utcTemplate>
        <md-input-container>
            <input 
                disabled
                mdInput class="date" 
                [placeholder]="placeholder" 
                [value]="(value ? (value | epicUTCTime: format) : null)">
        </md-input-container>
    </ng-template>
</span>