<h1 md-dialog-title class="time-picker-header">
    <span *ngIf="config.type != Types.TIME" [class.current-value]="state === States.YEAR" (click)="setState(States.YEAR)">{{formatYear(yearVal)}}</span><!--
 --><span *ngIf="config.type != Types.TIME">/</span><!--
 --><span *ngIf="config.type != Types.TIME" [class.current-value]="state === States.MONTH" (click)="setState(States.MONTH)">{{formatMonth(monthVal)}}</span><!--
 --><span *ngIf="config.type != Types.TIME">/</span><!--
 --><span *ngIf="config.type != Types.TIME" [class.current-value]="state === States.DAY" (click)="setState(States.DAY)">{{formatDay(dayVal)}}</span><!--
 --><span *ngIf="config.type != Types.DATE" [class.current-value]="state === States.HOUR" (click)="setState(States.HOUR)"> {{formatHour(hourVal)}}</span><!--
 --><span *ngIf="config.type != Types.DATE">:</span><!--
 --><span *ngIf="config.type != Types.DATE" [class.current-value]="state === States.MINUTE" (click)="setState(States.MINUTE)">{{formatMinute(minuteVal)}}</span><!--
 --><span [class.current-value]="state === States.ABBR" (click)="setState(States.ABBR)"> {{('TIMEDESCRIPTORS.' + abbrVal) | translate}}</span>
</h1>
<md-dialog-content class="time-picker-content">
    <div class="number-pad"
        *ngIf = "(state === States.YEAR || state === States.DAY) && config.type != Types.TIME">
        <div class="row number-pad-button-container">
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(1)" (click)="numberPadClicked(1)" class="number-pad-button">1</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(2)" (click)="numberPadClicked(2)" class="number-pad-button">2</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(3)" (click)="numberPadClicked(3)" class="number-pad-button">3</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(4)" (click)="numberPadClicked(4)" class="number-pad-button">4</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(5)" (click)="numberPadClicked(5)" class="number-pad-button">5</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(6)" (click)="numberPadClicked(6)" class="number-pad-button">6</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(7)" (click)="numberPadClicked(7)" class="number-pad-button">7</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(8)" (click)="numberPadClicked(8)" class="number-pad-button">8</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(9)" (click)="numberPadClicked(9)" class="number-pad-button">9</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button (click)="numberPadClicked('OK')" class="number-pad-button">OK</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(0)" (click)="numberPadClicked(0)" class="number-pad-button">0</button></div>
            <div class="col-xs-4 number-pad-button-wrapper"><button md-button [disabled]="disableButton(-1)" (click)="numberPadClicked('DEL')" class="number-pad-button"><md-icon>backspace</md-icon></button></div>
        </div>
    </div>
    <div class="month-picker"
        *ngIf="state === States.MONTH && config.type != Types.TIME">
        <div class="row month-containe\r">
            <div class="month-button-wrapper col-xs-4"
                *ngFor="let month of months">
                <button (click)="setMonth(month, true)" md-button class="month-button">{{('MONTHS.'+month) | translate}}</button>
            </div>
        </div>
    </div>
    <div class="abbr-picker"
        *ngIf="state === States.ABBR && config.type !== Types.DATE">
        <div class="row abbr-container">
            <div class="abbr-button-wrapper col-xs-6"
                *ngFor="let abbr of abbrs">
                <button (click)="setAbbr(abbr)" md-button class="abbr-button">{{('TIMEDESCRIPTORS.' + abbr) | translate}}</button>
            </div>
        </div>
    </div>
    <div class="clock" color="primary" 
        *ngIf = "(state === States.HOUR || state === States.MINUTE) && config.type != Types.DATE">
        <div
            class="hand {{
                        state === States.HOUR ? 
                        (
                            abbrVal === TimeDescriptors.AM || abbrVal === TimeDescriptors.PM
                            ? (
                                !prevHourVal ? 
                                    'initHand-'+convertToClockHour(hourVal)
                                    : 'rotateFrom' + ((convertToClockHour(prevHourVal) * 5) % 60) + 'To' + ((convertToClockHour(hourVal) * 5) % 60)
                            )
                            :(
                                !prevHourVal && prevHourVal !== 0 ? 
                                    'init24Hand-'+ hourVal
                                    : 'rotate24From' + prevHourVal + 'To' + hourVal
                            )
                        )
                        : (
                            !prevMinuteVal && prevMinuteVal !== 0 ? 
                                'init60Hand-'+minuteVal
                                : 'rotateFrom' + prevMinuteVal + 'To' + minuteVal
                        )
                    }}">
            <div class="hand-inner">
                <span class="hand-pointer">></span>
            </div>
        </div>
        <div class="center-dot"></div>
        <div *ngIf="state === States.HOUR && (abbrVal === TimeDescriptors.AM || abbrVal === TimeDescriptors.PM)">
            <div 
                *ngFor="let h of hours"
                class= "hour time-12-{{h}}"            
                >
                <span *ngIf="state === States.HOUR" class="hour-inner" (click)="setHour(h, true)">{{h}}</span>
                <!--<span *ngIf="state === States.MINUTE" class="hour-inner" (click)="setMinute((h * 5) % 60, true)">{{(h * 5) % 60}}</span>-->
            </div>
        </div>
        <div *ngIf="state === States.HOUR && (abbrVal === TimeDescriptors.HR24 || abbrVal === TimeDescriptors.Z)">
            <div 
                *ngFor="let h of hours24"
                class= "hour time-24-{{h}}"            
                >
                <span *ngIf="state === States.HOUR" class="hour-inner" (click)="setHour(h, true)">{{addZero(h)}}</span>
            </div>
        </div>
        <div *ngIf="state === States.MINUTE">
            <div *ngFor = "let m of minutes; let i = index;">
                <div
                    *ngIf="(i) % 5 != 0"
                    class="tick time-60-{{m}}">
                        <!--<span *ngIf="(i + 1) % 5 == 0" class="hour-inner" (click)="setMinute(m+1)">{{(m+1) % 60}}</span>-->
                        <span
                            class="tick-inner tick-{{m}}"
                            (click)="setMinute(m)"
                            ><div></div></span>
                </div>
                <div
                    *ngIf="(i) % 5 == 0"
                    class="tick time-60-{{m}}">
                        <span class="hour-inner" (click)="setMinute(m)">{{m}}</span>                        
                </div>
            </div>
        </div>
    </div>
</md-dialog-content>
<md-dialog-actions class="actions">
    <button md-button (click)="dismiss(false)">Cancel</button>
    <button md-button (click)="dismiss(true)">OK</button>
</md-dialog-actions>